<div >
  <label class="vertical-center" style="font-size: 150%"><b>Laboratorio 1</b></label>
  <div class="row">
    <div class="form-group col-md-3">
      <label style="font-size: 100%"><b>Fecha de Entrega:</b></label>
      <input type="text" class="form-control" readonly value="Sábado, 06 de abril del 2019">
    </div>
  
    <div class="form-group col-md-1.5">
        <label style="font-size: 100%"><b>Hora de Entrega:</b></label>
        <input type="text" class="form-control" readonly value="11:00 am">
      </div>
  </div>
  <div class="row">
      
        <div class="form-group col-md-3">
            <label style="font-size: 100%"><b>Fecha última modificación:</b></label>
            <input type="text" class="form-control" readonly value="Sábado, 06 de abril del 2019">
          </div>

        <div class="form-group col-md-1.5">
          <label style="font-size: 100%"><b>Hora última modificación:</b></label>
          <input type="text" class="form-control" readonly value="10:57 am">
        </div>

  </div>
  
  
  <hr/>
    <div class="form-group col-md-11">
        <label style="font-size: 100%"><b>Indicaciones:</b></label>
        <input type="text" class="form-control" readonly value="- Para este laboratorio se deberá subir el archivo resuelto con el formato: codigo_apellido_nombre.
        - Recuerde subir el documento a tiempo de lo contrario no se  calificará.">
    </div>
  
  <hr/>
  
  <div class="btn-group" role="group" aria-label="Basic example">
      <button ng-click="btnCalificaciones()" class="btn btn-primary" style="color: white">Calificaciones</button>
      <button type="button" class="btn btn-secondary">Rubrica</button>
      <button type="button" class="btn btn-secondary">Grupos de Trabajo</button>
      <button type="button" class="btn btn-secondary">Grupos de Trabajo</button>
      <button type="button" class="btn btn-secondary">Comentarios</button>
      <button type="button" class="btn btn-secondary">Alertas</button>
      <button ng-click="btnEstadisticas()" class="btn btn-primary" style="color: white">Estadisticas</button>
      <button type="button" class="btn btn-secondary">Coevaluación</button>
      <button type="button" class="btn btn-secondary">Autoevaluación</button>
    </div>
</div>