<div >

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a ng-click="irCurso()">{{curso.nombre}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{actividad.nombre}}</li>
      </ol>
    </nav>

  <label class="vertical-center" style="font-size: 150%"><b>Laboratorio 1</b> <i class="fas fa-user"></i></label>
  <div class="row">
    <div class="form-group col-md-3">
      <label style="font-size: 100%"><b>Fecha de Entrega:</b></label>
      <input type="text" class="form-control" readonly value="Sábado, 06 de abril del 2019">
    </div>
  
    <div class="form-group col-md-1.5">
        <label style="font-size: 100%"><b>Hora de Entrega:</b></label>
        <input type="text" class="form-control" readonly value="11:00 am">
      </div>
  </div>
<div class="row">
      
  <div class="form-group col-md-3">
      <label style="font-size: 100%"><b>Fecha última modificación:</b></label>
      <input type="text" class="form-control" readonly value="Sábado, 06 de abril del 2019">
    </div>

  <div class="form-group col-md-1.5">
    <label style="font-size: 100%"><b>Hora última modificación:</b></label>
    <input type="text" class="form-control" readonly value="10:57 am">
  </div>

</div>

  <hr />

  <div class="form-group col-md-11">
    <label style="font-size: 100%"><b>Indicaciones:</b></label>
    <input type="text" class="form-control" readonly value="Para este laboratorio se deberá subir el archivo resuelto con el formato: codigo_apellido_nombre.
    Recuerde subir el documento a tiempo de lo contrario no se  calificará.">
</div>

  <hr />

  <div class="btn-group" role="group" aria-label="Basic example">
    <button ng-click="btnCalificaciones()" class="btn btn-primary" style="color: white">Calificar</button>
    <button ng-click="btnRubrica()" class="btn btn-primary">Rubrica</button>
    <button type="button" class="btn btn-primary">Grupos de Trabajo</button>
    <button type="button" class="btn btn-primary">Comentarios</button>
    <button type="button" class="btn btn-primary">Alertas</button>
    <button ng-click="btnEstadisticas()" class="btn btn-primary" style="color: white">Estadísticas</button>
    <button type="button" class="btn btn-primary">Coevaluación</button>
    <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary dropdown-toggle"
      style="color: white">AutoEvaluacion</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" style="cursor: pointer" ng-click="btnAutoEvaluacion()"><i
          class="fas fa-plus"></i>&nbspCrear Auto Evaluacion</a>
      <a class="dropdown-item" style="cursor: pointer"><i class="far fa-eye"></i>&nbspVer</a>
    </div>

  </div>
</div>


<div class="modal fade" id="mdCrearAutoEval" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Crear AutoEvaluacion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form name="AutoEvalForm" novalidate>
          <span style="font-size: 20px;padding-right: 10px">Agregar Pregunta</span>
          <button class="btn btn-success" ng-click="showFila()"><i class="fas fa-plus"></i></button>
          <div class="form-row" ng-show="mostrarFila" ng-repeat="preg in listaPreg">
            <div class="form-group col-md-6">
                <label>Familia</label>
                <input name="familia" type="text" class="form-control" ng-model="regAct.nombre"
                    ng-required="true">
                <span ng-messages="ActForm.nombre.$error" ng-show="ActForm.nombre.$touched">
                    <p class="error-msg" ng-message="required">Este campo es requerido</p>
                </span>
            </div>
            <div class="form-group col-md-6">
                <label>Pregunta</label>
                <input type="text" name="pregunta" class="form-control" >
            </div>
        </div>
        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="btnGuardarActividad()"
          ng-disabled="ActForm.$invalid">Guardar</button>
        <button class="btn btn-default " data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<!--ng-click="btnAutoEvaluacion()"-->
