<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#!curso">Curso</a></li>
            <li class="breadcrumb-item"><a href="#!actividad"> {{actividad.nombre}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Grupos</li>
        </ol>
    </nav>
    <br />

    <div class="row d-flex align-items-end">
        <div class="form-group col-md-4">
            <label style="font-weight: bold">Alumno</label>
            <select ng-change="ObtenerNotas()" class="form-control custom-select" ng-model="idalumno"
                ng-init="idalumno = '0'">
                <option value="0">Seleccione</option>
                <option ng-repeat="item in listaAl" ng-value="item.idAlumno">{{item.codigoPUCP +" - "+ item.nombre}}
                </option>
            </select>
        </div>
        <div ng-show="idalumno!='0'" class="form-group col-md-2">
            <label style="font-weight: bold">No asistió</label>
            <input ng-model="falta" ng-click="marcado" type="checkbox">
        </div>
        <div ng-show="idalumno!='0'" class="form-group col-md-3">
            <div style="float: right">
                <button type="button" class="btn btn-info" ng-click=""><i class="fas fa-download"></i>&nbsp;Descargar
                    Archivo</button>
                <button type="button" class="btn btn-info" ng-click="btnEditarPuntaje()"><i
                        class="fas fa-pencil-alt"></i></button>
                <button class="btn btn-success" type="submit" ng-show="profe" ng-click="btnValidarPuntaje()">Validar
                    Resultados</button>
            </div>
        </div>
    </div>

    <!-- <div class="row">
        <div class="form-group">
            <div style="float: right">                
                <button type="button" class="btn btn-info" ng-click="btnEditarPuntaje()"><i
                        class="fas fa-pencil-alt"></i></button>

                <button class="btn btn-success" type="submit" ng-show="profe" ng-click="btnValidarPuntaje()">Validar
                    Resultados</button>
            </div>
        </div>
    </div> -->

    <!--<div class="form-group col-md">
                    <label class="vertical-center" style="font-size: 100%;padding-top:20px"><b>Archivos:</b></label>
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                            <h1 class="card-title" style="font-size: 20%"></h1>20150666_Alvarez_fernando.zip&nbsp;<i
                                class="fas fa-download"></i></h1>
                        </div>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        <div>
                            <label for="file">Choose file to upload</label>
                            <input type="file" id="file" name="file" multiple>
                        </div>
                        <div>
                            <button ng-click="btnclick()">Submit</button>
                        </div>
                    </form>
                </div>-->


    <!-- <div class="row">
        <div class="col-md-5">
            <form method="post" enctype="multipart/form-data">
                <div>
                    <button type="button" class="btn btn-info" ng-click=""><i
                            class="fas fa-download"></i>&nbsp;Descargar Archivo</button>
                </div>
            </form>
        </div>
    </div> -->

    <div class="line"></div>

    <div ng-show="idalumno!='0'" ng-repeat="aspecto in lstAspectos" style="width: 100%">
        <h3>{{aspecto.descripcion}}</h3>
        <div ng-if="aspecto.tipoClasificacion == 1" ng-repeat="indicador in aspecto.listaNotaIndicador" class="row">
            <div class="form-group col-sm-3">
                <label>Descripción</label>
                <input disabled type="text" class="form-control" ng-model="indicador.descripcion">
            </div>
            <div class="form-group col-sm-1">
                <label>Nota Máx.</label>
                <input disabled type="text" class="form-control" style="width: 50px" ng-model="indicador.puntajeMax">
            </div>
            <div class="form-group col-sm-1">
                <label>Nota</label>
                <input id="uintTextBox" ng-disabled="falta" class="form-control" type="text" style="width: 50px"
                    ng-model="indicador.nota" maxlength="2">
            </div>
            <div class="form-group col-sm-3">
                <label>Comentarios</label>
                <textarea ng-model="indicador.comentario" ng-disabled="falta" class="form-control"
                    type="text"></textarea>
            </div>
        </div>

        <div ng-if="aspecto.tipoClasificacion == 1" class="row">
            <div class="form-group col-sm-2">
                <label>Nota del aspecto</label>
                <input readonly type="text" class="form-control" ng-value="sumaInd(aspecto)" style="width: 50px">
            </div>
            <div class="form-group col-sm-3">
                <label>Comentario del aspecto</label>
                <textarea type="text" class="form-control" ng-model="aspecto.comentario"></textarea>
            </div>
        </div>

        <div ng-if="aspecto.tipoClasificacion == 2" class="row">
            <div class="form-group col-sm-3">
                <label>Descripción</label>
                <input disabled type="text" class="form-control" ng-model="aspecto.descripcion">
            </div>
            <div class="form-group col-sm-1">
                <label>Nota Máx.</label>
                <input disabled type="text" class="form-control" style="width: 50px" ng-model="aspecto.puntajeMax">
            </div>
            <div class="form-group col-sm-1">
                <label>Nota</label>
                <input ng-disabled="falta" class="form-control" type="text" style="width: 50px" ng-model="aspecto.nota"
                    maxlength="2">
            </div>
            <div class="form-group col-sm-3">
                <label>Comentarios</label>
                <textarea ng-model="aspecto.comentario" ng-disabled="falta" class="form-control" type="text"></textarea>
            </div>
        </div>
        <div ng-if="aspecto.tipoClasificacion == 3" class="row">
            <div class="form-group col-sm-3">
                <label>Descripción</label>
                <input disabled type="text" class="form-control" ng-model="aspecto.informacion">
            </div>
            <div class="form-group col-sm-1">
                <label style="font-size: 100%">Realizado</label>
                <input type="checkbox" ng-model="aspecto.nota">
            </div>
            <div class="form-group col-sm-3">
                <label>Comentarios</label>
                <textarea ng-model="aspecto.comentario" ng-disabled="falta" class="form-control" type="text"></textarea>
            </div>
        </div>
    </div>

    <div class="line"></div>

    <div ng-show="idalumno!='0'" class="row justify-content-between">
        <div class="form-group col-sm-1">
            <label style="font-weight: bold">Nota Final</label>
            <input ng-disabled="falta" class="form-control" type="text" style="width: 50px" ng-model="notaFinal"
                maxlength="2">
        </div>
        <!-- <div class="form-group col-sm-3">
            <label style="font-weight: bold">Comentarios</label>
            <div class="btn-group">
                <textarea class="form-control" type="text"></textarea>
            </div>
        </div> -->
        <div class="form-group col-sm-2">
            <button class="btn btn-primary" type="submit" ng-click="btnGuardarPuntaje()">Guardar</button>
        </div>
    </div>
</div>

<script>
    function Download(url) {
        document.getElementById('my_iframe').src = url;
    };
    (function ($) {
        $.fn.inputFilter = function (inputFilter) {
            return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                }
            });
        };
    }(jQuery));

    $("#uintTextBox").inputFilter(function(value) {
        return /^\d*$/.test(value); 
    });
</script>