<div>
    <h1>{{curso.codigo + ' ' + curso.nombre + ' [H' + curso.horario + ']'}}</h1>
    <div class="line"></div>
    <h2>Actividades</h2>

    <div class="row justify-content-between">
        <div class="col-xs-12 col-md-5">
            <h5 style="display:inline-block"><span class="badge badge-pill badge-success">
                    <div style="margin: 5px">Entregado</div>
                </span></h5>
            <h5 style="display:inline-block"><span class="badge badge-pill badge-warning" style="color: white">
                    <div style="margin: 5px">Pendiente</div>
                </span>
            </h5>
            <h5 style="display:inline-block"><span class="badge badge-pill badge-dark">
                    <div style="margin: 5px">Inactivo</div>
                </span></h5>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-4 col-lg-2">
            <button class="btn btn-success" ng-click="btnAgregarActividad()"><i class="fas fa-plus"></i>&nbspAgregar
                actividad</button>
        </div>
    </div>

    <div class="row" style="padding-top: 15px">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" style="margin-bottom: 15px" ng-repeat="act in lstActividad">
            <div class="card text-center border-dark">
                <div class="card-body">
                    <h5 class="card-title">{{act.nombre}}&nbsp<i class="fas fa-user"></i></h5>
                    <p class="card-text">{{act.desc}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" ng-if="usuario.esAlumno">Nota: {{act.nota}}</li>
                    <li class="list-group-item">Fecha inicio: {{act.fechaInicio}}</li>
                    <li class="list-group-item">Fecha fin: {{act.fechaFin}}</li>
                    <!-- <li class="list-group-item" ng-show="act.entregable">Fecha máx entrega: {{act.fechaEntrega}}</li> -->
                </ul>
                <div class="card-body">
                    <button id="btnVer" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom"
                        title="Ver" ng-click="btnVerActividad(act)"><i class="fas fa-eye"></i></button>
                    <button class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Editar"
                        ng-click="btnEditarActividad(act)"><i class="fas fa-pen"></i></button>
                    <!-- <button class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Publicar"
                        ng-click="btnPublicarActividad()"><i class="fas fa-check"></i></button> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mdAgregarActividad" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar actividad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="alert alert-danger" role="alert" ng-show="showAlert1">
                            La fecha fin no puede ser menor a la fecha de inicio
                          </div>
                <form id="formAct" name="formAct" class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label>Nombre</label>
                            <input type="text" class="form-control" ng-model="regAct.nombre" required>
                            <div class="invalid-feedback">
                                Este campo es requerido.
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Tipo</label>
                            <select class="form-control custom-select" ng-model="regAct.tipo" ng-init="regAct.tipo='I'">
                                <option value="I">Individual</option>
                                <option value="G">Grupal</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Descripción</label>
                        <input type="text" class="form-control" ng-model="regAct.desc" required>
                        <div class="invalid-feedback">
                            Este campo es requerido.
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Fecha inicio</label>
                            <input type="date" min="{{hoy}}" class="form-control" ng-model="regAct.fechaInicio" required>
                            <div class="invalid-feedback">
                                Este campo es requerido.
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label>Fecha fin</label>
                            <input type="date" min="{{hoy}}" class="form-control" ng-model="regAct.fechaFin" required>
                            <div class="invalid-feedback">
                                Este campo es requerido.
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" ng-click="btnGuardarActividad()"
                    ng-show="nuevo">Crear</button>
                <button class="btn btn-primary" type="submit" ng-click="btnGuardarActividad()" ng-show="!nuevo">Guardar</button>
                <button class="btn btn-default " data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mdPublicarActividad" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar publicación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Al hacer clic en "Confirmar" la actividad será publicada y los alumnos podrán verla y acceder a esta.
                Esta acción no se puede deshacer. Algunos datos de la actividad aún podrán ser editados.
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="btnConfirmarPublicacion()">Confirmar</button>
                <button class="btn btn-default " data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>