<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#!curso">{{curso.nombre}}</a></li>
      <li class="breadcrumb-item"><a href="#!actividad">{{actividad.nombre}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Encuestas</li>
    </ol>
  </nav>
  <br />

  <div>
    <label class="vertical-center" style="margin-top: 14px;font-size: 150%"><b>Evaluación del entregable</b></label>
  </div>
  <div style="margin-top: 14px; margin-left: 30px">
    <form>
    <div>
      <div class="row">
        <label class="vertical-center" style="margin-top: 14px;font-size: 100%"><b>Autoevaluación</b></label>
        <div class="form-group col-md-2">
          <button ng-click="btnEvaluacion(2)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            class="btn btn-sm btn-info dropdown-toggle"><i class="fas fa-eye"></i>&nbsp;</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ">
          <div class="row">
            <div ng-repeat="aspecto in rubricaAuto.listaAspectos" class="col-md-12 border border-solid rounded"
              style=" background-color: #e9ecef; margin-bottom: 10px; margin-left: 10px; padding-top: 10px">
              <div ng-if="aspecto.tipoClasificacion == 1">
                <div class="form-row">
                  <div class="form-group col-md-3 col-lg-2">
                    <label class="negrita">Nombre del Aspecto</label>
                    <input disabled type="text" required maxlength="25" class="form-control"
                      ng-model="aspecto.descripcion" />
                    <div class="invalid-feedback">
                      Ingrese un nombre.
                    </div>
                  </div>
                  <div class="form-group col-md-5 col-lg-4">
                    <label class="negrita">Descripción</label>
                    <input disabled maxlength="50" class="form-control" ng-model="aspecto.informacion" />
                  </div>
                  <div class="form-group col-md-1">
                    <label class="negrita">Puntaje</label>
                    <input disabled ng-model="aspecto.puntajeMax" required type="text" class="form-control"
                      style="width: 70px" maxlength="2"
                      onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45" />
                    <div class="invalid-feedback">
                      Ingrese un puntaje.
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label class="negrita">Puntaje Asignado</label>
                    <input ng-disabled="coTieneNota" ng-model="asp.nota" required type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45"
                      maxlength="2" style="width: 70px" class="form-control" />
                    <div class="invalid-feedback">
                      Ingrese un puntaje.
                    </div>
                  </div>
                  
                </div>
                <div ng-repeat="indicador in aspecto.listaIndicadores" style="padding-left: 2%">
                  <div class="form-row">
                    <div class="form-group col-md-3 col-lg-2">
                      <label class="negrita">Nombre del indicador</label>
                      <input disabled required maxlength="25" class="form-control" ng-model="indicador.descripcion" />
                      <div class="invalid-feedback">
                        Ingrese un nombre.
                      </div>
                    </div>
                    <div class="form-group col-md-5 col-lg-4">
                      <label class="negrita">Descripción</label>
                      <input disabled maxlength="50" class="form-control"
                        ng-model="indicador.informacion" />
                    </div>
                    <!--AQUI AGREGAMOS EL PUNTAJE DEL INDICADOR-->
                    <div class="form-group col-md-4">
                      <label class="negrita">Puntaje Asignado</label>
                      <input ng-disabled="coTieneNota" ng-model="asp.nota" required type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45"
                        maxlength="2" style="width: 70px" class="form-control" />
                      <div class="invalid-feedback">
                        Ingrese un puntaje.
                      </div>
                    </div>

                  </div>
                  <div ng-repeat="nivel in indicador.listaNiveles" style="padding-left: 4%">
                    <div class="form-row">
                      <div class="form-group col-md-1">
                        <label class="negrita">{{'Nivel ' + ($index + 1)}}</label>
                        <div class="invalid-feedback">
                          Ingrese un nombre.
                        </div>
                      </div>
                      <div class="form-group col-md-4 col-lg-4">
                        <label class="negrita">Descripción</label>
                        <textarea disabled ng-model="nivel.descripcion" maxlength="200"
                          class="form-control"></textarea>
                      </div>
                      <div class="form-group col-md-1">
                        <label class="negrita">Puntaje</label>
                        <input disabled required type="text"
                          onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45"
                          maxlength="2" class="form-control" style="width: 70px" ng-model="nivel.puntaje" />
                        <div class="invalid-feedback">
                          Ingrese un puntaje.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div ng-if="aspecto.tipoClasificacion == 2">
                <div class="form-row">
                  <div class="form-group col-md-3 col-lg-2">
                    <label class="negrita">Nombre del Aspecto</label>
                    <input disabled required maxlength="25" class="form-control" ng-model="aspecto.descripcion" />
                    <div class="invalid-feedback">
                      Ingrese un nombre.
                    </div>
                  </div>
                  <div class="form-group col-md-5 col-lg-4">
                    <label class="negrita">Descripción</label>
                    <input disabled maxlength="50" class="form-control" ng-model="aspecto.informacion" />
                  </div>
                  <div class="form-group col-md-1">
                    <label class="negrita">Puntaje</label>
                    <input disabled required type="text"
                      onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45"
                      maxlength="2" style="width: 70px" class="form-control" ng-model="aspecto.puntajeMax" />
                    <div class="invalid-feedback">
                      Ingrese un puntaje.
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label class="negrita">Puntaje Asignado</label>
                    <input required type="text"
                      onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45"
                      maxlength="2" style="width: 70px" class="form-control" />
                    <div class="invalid-feedback">
                      Ingrese un puntaje.
                    </div>
                  </div>
                </div>
              </div>  
              <div ng-if="aspecto.tipoClasificacion == 3">
                <div class="form-row">
                  <div class="form-group col-md-3 col-lg-2">
                    <label class="negrita">Nombre del Aspecto</label>
                    <input disabled type="text" required maxlength="25" class="form-control"
                      ng-model="aspecto.descripcion" />
                    <div class="invalid-feedback">
                      Ingrese un nombre
                    </div>
                  </div>
                  <div class="form-group col-md-5 col-lg-4">
                    <label class="negrita">Descripción</label>
                    <input disabled type="text" maxlength="50" class="form-control" ng-model="aspecto.informacion" />
                  </div>
                  <div class="form-group col-md-5 col-lg-4">
                    <label class="negrita">Comentario sobre desempeño</label>
                    <textarea ng-disabled="bloqEval" ng-model="nivel.descripcion" maxlength="200"
                      class="form-control"></textarea>
                    <div class="invalid-feedback">
                      Ingrese un puntaje.
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer" ng-show = "rubricaAuto != null">
          <button class="btn btn-primary" type="submit" ng-click="btnGuardarEvaluacion()">Guardar y Enviar</button>
        </div>
    </div>
  </form>
  <form id="formCo" name="formCo" class="needs-validation" novalidate>
    <div ng-show="actividad.tipo=='G'">

      <div class="row">
        <label class="vertical-center" style="margin-top: 14px;font-size: 100%"><b>Coevaluación</b></label>
        <div class="form-group col-md-2">
          <button ng-click="btnEvaluacion(3)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            class="btn btn-sm btn-info dropdown-toggle"><i class="fas fa-eye"></i>&nbsp;</button>
        </div>

      </div>
      <div class="form-group col-md-4" ng-show="rubricaCoauto != null">
        <label style="font-weight: bold">Alumno</label>
        <select ng-change="obtenerCo()" class="form-control custom-select" ng-model="idalumno" ng-init="idalumno = '0'">
          <option value="0">Seleccione</option>
          <option ng-repeat="item in listaAl" ng-value="item.idUsuario">{{item.codigoPucp +" - "+ item.nombre}}
          </option>
        </select>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="row">
                <div ng-repeat="asp in rubricaCoauto.listaNotaAspectos" class="col-md-12 border border-solid rounded"
                  style=" background-color: #e9ecef; margin-bottom: 10px; margin-left: 10px; padding-top: 10px">
                  <div ng-if="asp.tipoClasificacion == 1">
                    <div class="form-row">
                      <div class="form-group col-md-3 col-lg-2">
                        <label class="negrita">Nombre del Aspecto</label>
                        <input disabled type="text" required maxlength="25" class="form-control"
                          ng-model="aspecto.descripcion" />
                        <div class="invalid-feedback">
                          Ingrese un nombre.
                        </div>
                      </div>
                      <div class="form-group col-md-5 col-lg-4">
                        <label class="negrita">Descripción</label>
                        <input disabled maxlength="50" class="form-control" ng-model="aspecto.informacion" />
                      </div>
                      <div class="form-group col-md-1">
                        <label class="negrita">Puntaje</label>
                        <input disabled ng-model="aspecto.puntajeMax" required type="text" class="form-control"
                          style="width: 70px" maxlength="2"
                          onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45" />
                        <div class="invalid-feedback">
                          Ingrese un puntaje.
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <label class="negrita">Puntaje Asignado</label>
                        <input ng-disabled="coTieneNota" ng-model="asp.nota" required type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45"
                          maxlength="2" style="width: 70px" class="form-control" />
                        <div class="invalid-feedback">
                          Ingrese un puntaje.
                        </div>
                      </div>
                      
                    </div>
                    <div ng-repeat="indicador in aspecto.listaIndicadores" style="padding-left: 2%">
                      <div class="form-row">
                        <div class="form-group col-md-3 col-lg-2">
                          <label class="negrita">Nombre del indicador</label>
                          <input disabled required maxlength="25" class="form-control" ng-model="indicador.descripcion" />
                          <div class="invalid-feedback">
                            Ingrese un nombre.
                          </div>
                        </div>
                        <div class="form-group col-md-5 col-lg-4">
                          <label class="negrita">Descripción</label>
                          <input disabled maxlength="50" class="form-control"
                            ng-model="indicador.informacion" />
                        </div>
                        <!--AQUI AGREGAMOS EL PUNTAJE DEL INDICADOR-->
                        <div class="form-group col-md-4">
                          <label class="negrita">Puntaje Asignado</label>
                          <input ng-disabled="coTieneNota" ng-model="asp.nota" required type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45"
                            maxlength="2" style="width: 70px" class="form-control" />
                          <div class="invalid-feedback">
                            Ingrese un puntaje.
                          </div>
                        </div>
    
                      </div>
                      <div ng-repeat="nivel in indicador.listaNiveles" style="padding-left: 4%">
                        <div class="form-row">
                          <div class="form-group col-md-1">
                            <label class="negrita">{{'Nivel ' + ($index + 1)}}</label>
                            <div class="invalid-feedback">
                              Ingrese un nombre.
                            </div>
                          </div>
                          <div class="form-group col-md-4 col-lg-4">
                            <label class="negrita">Descripción</label>
                            <textarea disabled ng-model="nivel.descripcion" maxlength="200"
                              class="form-control"></textarea>
                          </div>
                          <div class="form-group col-md-1">
                            <label class="negrita">Puntaje</label>
                            <input disabled required type="text"
                              onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45"
                              maxlength="2" class="form-control" style="width: 70px" ng-model="nivel.puntaje" />
                            <div class="invalid-feedback">
                              Ingrese un puntaje.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div ng-if="asp.tipoClasificacion == 2">
                    <div class="form-row">
                      <div class="form-group col-md-3 col-lg-2">
                        <label class="negrita">Nombre del Aspecto</label>
                        <input disabled required maxlength="25" class="form-control" ng-model="asp.descripcion" />
                        <div class="invalid-feedback">
                          Ingrese un nombre.
                        </div>
                      </div>
                      <div class="form-group col-md-5 col-lg-4">
                        <label class="negrita">Descripción</label>
                        <input disabled maxlength="50" class="form-control" ng-model="asp.informacion" />
                      </div>
                      <div class="form-group col-md-1">
                        <label class="negrita">Puntaje</label>
                        <input disabled required type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45"
                          maxlength="2" style="width: 70px" class="form-control" ng-model="asp.puntajeMax" />
                        <div class="invalid-feedback">
                          Ingrese un puntaje.
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                          <label class="negrita">Puntaje Asignado</label>
                          <input ng-disabled="coTieneNota" ng-model="asp.nota" required type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45"
                            maxlength="2" style="width: 70px" class="form-control" />
                          <div class="invalid-feedback">
                            Ingrese un puntaje.
                          </div>
                        </div>
                    </div>
                  </div>
                  <div ng-if="asp.tipoClasificacion == 3">
                    <div class="form-row">
                      <div class="form-group col-md-3 col-lg-2">
                        <label class="negrita">Nombre del Aspecto</label>
                        <input disabled type="text" required maxlength="25" class="form-control"
                          ng-model="asp.descripcion" />
                        <div class="invalid-feedback">
                          Ingrese un nombre
                        </div>
                      </div>
                      <div class="form-group col-md-5 col-lg-4">
                        <label class="negrita">Descripción</label>
                        <input disabled type="text" maxlength="50" class="form-control" ng-model="asp.informacion" />
                      </div>
                      <div class="form-group col-md-5 col-lg-4">
                        <label class="negrita">Comentario sobre desempeño</label>
                        <textarea ng-disabled="bloqEval" ng-model="nivel.descripcion" maxlength="200"
                          class="form-control"></textarea>
                        <div class="invalid-feedback">
                          Ingrese un puntaje.
                        </div>
                      </div>
    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="modal-footer" ng-show = "rubricaCoauto != null">
      <button ng-show="!coTieneNota" class="btn btn-primary" type="submit" ng-click="btnGuardarCo()">Guardar y Enviar</button>
    </div>
  
    </div>
  </form>
  </br></br> 
   
  </div>
  <div class="row">
      <label class="vertical-center" style="margin-left: 14px; margin-top: 14px;font-size: 150%"><b>Registro de Esfuerzo</b></label>    
  </div>

  <!-- Vista de profesor -->
  <div ng-show="esProfesor">
    <!-- Si existe el registro de horas del alumno, mostrarlo -->
    <div ng-show="hayRegHorasActividad">
      <div class="row">
        <label class="vertical-center" style="margin-left: 14px; margin-top: 14px;font-size: 150%"><b>Registro de horas
            del alumno</b></label>
      </div>
      <div class="form-group col-md-4">
        <label style="font-weight: bold">Alumno</label>
        <select ng-change="obtenerRegistroHorasXAlumno()" class="form-control custom-select" ng-model="idalumno"
          ng-init="idalumno = '0'">
          <option value="0">Seleccione</option>
          <option ng-repeat="item in listaAl" ng-value="item.idAlumno">{{item.codigoPUCP +" - "+ item.nombre}}
          </option>
        </select>
      </div>

      <div ng-repeat="categoria in regEsfuerzoHoras.listaCategorias">
        <div class="form-row">
          <div class="form-group col-md-5 col-lg-4">
            <label class="negrita">Categorías</label>
            <input ng-disabled="hayRegHorasActividad" maxlength="50" class="form-control"
              ng-model="categoria.descripcion" />
          </div>
        </div>
        <div ng-repeat="respuesta in categoria.listaRespuestas">
          <div class="form-row">
            <div class="form-group col-md-2" style="width: 70px">
              <label class="negrita">Respuesta</label>
              <input ng-disabled="hayRegHorasActividad" maxlength="50" class="form-control"
                ng-model="respuesta.descripcion" />
            </div>
            <div class="form-group col-md-1">
              <label class="negrita">Horas Estimadas</label>
              <input ng-disabled="hayRegHorasActividad" ng-model="respuesta.horasPlanificadas" required type="text"
                class="form-control" style="width: 70px" maxlength="2"
                onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45" />
              <div class="invalid-feedback">
                Ingrese un puntaje.
              </div>
            </div>
            <div class="form-group col-md-1 ">
              <label class="negrita">Horas Reales</label>
              <input ng-disabled="hayRegHorasActividad" ng-model="respuesta.horasReales" required type="text"
                class="form-control" style="width: 70px" maxlength="2"
                onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45" />
              <div class="invalid-feedback">
                Ingrese un puntaje.
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <!-- Si no existe el registro de horas de la actividad, el profesor crea las categorias -->
    <div ng-show="!hayRegHorasActividad">
      <div class="row">
        <label class="vertical-center" style="margin-left: 14px; margin-top: 14px;font-size: 150%"><b>Crear Registro de
            Esfuerzo</b></label>
        <button type="button" class="btn btn-success" ng-click="btnCrearRegistroHoras()"><i
            class="fas fa-plus"></i>&nbsp;Guardar Registro</button>
      </div>
      <div class="col-md-12 form-group">
        <button type="button" class="btn btn-success" ng-click="btnAgregarCategoria()"><i
            class="fas fa-plus"></i>&nbsp;</button>
      </div>
      <div ng-repeat="categoria in regEsfuerzo.listaCategorias">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="negrita">Descripción del esfuerzo</label>
            <input maxlength="50" class="form-control" ng-model="categoria.descripcion" />
          </div>
          <div class=" form-group btn-group d-flex align-items-end">
            <button type="button" class="btn btn-danger" title="Quitar Categoría"
              ng-click="btnQuitarCategoria(categoria)"><i class="fas fa-times"></i></button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Vista de alumno -->
  <div ng-show="!esProfesor">
    <div class="form-row">
      <label class="vertical-center" style="margin-left: 14px; margin-top: 14px;font-size: 150%"><b>Registro de
          Esfuerzo</b></label>
          <div class="form-group col-md-2">
            <button ng-show="!hayRegHorasActividad" type="button" class="btn btn-primary"
            ng-click="btnRegistrarHoras()"><i
            class="fas fa-save"></i>&nbsp;Guardar Registro</button>
          </div>
      
    </div>
    <div ng-show="!hayRegCategoriasActividad && !hayRegHorasActividad"
      class="d-flex justify-content-center align-self-center">
      <h3>El profesor aún no crea un registro de horas para esta actividad</h1>
    </div>
    <div ng-repeat="categoria in regEsfuerzoHoras.listaCategorias">
      <div class="form-row">
        <div class="form-group col-md-5 col-lg-4">
          <label class="negrita">Categorías</label>
          <input ng-disabled="!hayRegCategoriasActividad" maxlength="50" class="form-control"
            ng-model="categoria.descripcion" />
        </div>
        <div class=" form-group btn-group d-flex align-items-end">
          <button ng-show="!hayRegHorasActividad" type="button" class="btn btn-success"
            title="Agregar Respuesta" ng-click="btnAgregarRespuesta(categoria)"><i class="fas fa-plus"></i></button>
        </div>
      </div>
      <div ng-repeat="respuesta in categoria.listaRespuestas" style="padding-left: 2%">
        <div class="form-row ">
          <div class="form-group col-md-2 " style="width: 70px">
            <label class="negrita">Respuesta</label>
            <input ng-disabled="hayRegHorasActividad" maxlength="50" class="form-control"
              ng-model="respuesta.descripcion" />
          </div>
          <div class="form-group col-md-1 ">
            <label class="negrita">H. Estim.</label>
            <input ng-disabled="hayRegHorasActividad"
              ng-model="respuesta.horasPlanificadas" required type="text" class="form-control" style="width: 70px"
              maxlength="2"
              onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45" />
            <div class="invalid-feedback">
              Ingrese un puntaje.
            </div>
          </div>
          <div class="form-group col-md-1">
            <label class="negrita">H. Reales</label>
            <input ng-disabled="hayRegHorasActividad" ng-model="respuesta.horasReales"
              required type="text" class="form-control" style="width: 70px" maxlength="2"
              onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45" />
            <div class="invalid-feedback">
              Ingrese un puntaje.
            </div>
          </div>
          <div class=" form-group btn-group d-flex align-items-end">
            <button ng-show="!hayRegHorasActividad" type="button" class="btn btn-danger"
              title="Quitar Respuesta" ng-click="btnQuitarRespuesta(categoria, respuesta)"><i
                class="fas fa-times"></i></button>
          </div>
        </div>

      </div>

    </div>



    <!-- 
      <div class="form-row">
        <div class="form-group col-md-5 col-lg-4">
          <label class="negrita">Descripción del esfuerzo</label>
          <input maxlength="50" class="form-control" ng-model="aspecto.informacion" />
        </div>
        <div class="form-group col-md-2">
          <label class="negrita">Horas Estimadas</label>
          <input ng-model="aspecto.puntajeMax" required type="text" class="form-control" style="width: 70px"
            maxlength="2" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45" />
          <div class="invalid-feedback">
            Ingrese un puntaje.
          </div>
        </div>
        <div class="form-group col-md-1">
          <label class="negrita">Horas Real</label>
          <input ng-model="aspecto.puntajeMax" required type="text" class="form-control" style="width: 70px"
            maxlength="2" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45" />
          <div class="invalid-feedback">
            Ingrese un puntaje.
          </div>
        </div>
      </div>
 -->
  </div>


</div>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="submit" ng-click="btnGuardarEncuesta()">Guardar</button>
</div>

</div>
