
<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a ng-click="irCurso()"> {{curso.nombre}}</a></li>
      <li class="breadcrumb-item"><a ng-click="irActividad()"> {{actividad.nombre}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Estadisticas</li>
    </ol>
  </nav>
</div>
<div >
<br/> 
<div class="row">
  <div class="form-group col-md-3">
      <label style="font-size: 120%"><b>Estadísticas de Evaluación</b></label>
<table class="table ">
  <!--<caption>List of users</caption>-->
  <tr>
    <th class="table-dark" >Media:</th>
    <td>12.5%</td>
  </tr>
  <tr>
    <th class="table-dark">Desviación:</th>
    <td>1.85%</td>
  </tr>
  <tr>
    <th class="table-dark">% de aprobados:</th>
    <td>60%</td>
  </tr>
  <tr>
    <th class="table-dark">Máx. nota:</th>
    <td>19</td>
  </tr>
  <tr>
    <th class="table-dark">Mín. nota:</th>
    <td>4</td>
  </tr>
</table>
</div>
<div class="col-md-5" class="table-responsive">
    <label style="font-size: 120%"><b>Ranking de los 5 mejores alumnos</b></label>
<table class="table table-hover">
    <thead>
        <tr class="table-info">
            <th style="width: 10%" >Código</th>
            <th style="width: 30%">Nombres</th>
            <th style="width: 10%">Nota</th>
          </tr>
    </thead>
    <tbody>
        <tr>
            <td>20157687</td>
            <td>Dayana Burga Díaz</td>
            <td>20</td>
          </tr>
          <tr>
            <td>20146787</td>
            <td>Wendy Torres Valencia</td>
            <td>20</td>
          </tr>
          <tr>
              <td>20132387</td>
              <td>Arturo Galvez Díaz</td>
              <td>18</td>
          </tr>
          <tr>
              <td>20129885</td>
              <td>Gabriel Mendoza Sanchez</td>
              <td>17</td>
          </tr>
          <tr>
              <td>20134567</td>
              <td>Alex Sanchez Díaz</td>
              <td>16</td>
          </tr>
    </tbody>
  </table>
</div>
    
  <div class="row">
      <div class="form-group col-md">
        
      </div>
      <!--<div style="float: right" id="barchart_materialR" style="width: 500px; height: 300px;"></div>-->
      
</div>

<div class="col-md-5" class="table-responsive">
    <div>       
      <label style="font-size: 100%"><b>Elegir Grafico:</b></label>
      <select  ng-change=TipoGrafico() class="form-control" ng-model="seleccion">
        <option value="g">Seleccione una opción</option>
        <option value="gc">Gráfico Circular</option>
        <option value="gb">Gráfico de Barras</option>
      </select>
    
    <div  ng-show="gc" class="col-md-10 col-sm-12" id="piechart" style="width: 900px; height: 400px; color: whitesmoke "></div>
    <div ng-show="gb" id="barchart_material" style="width: 700px; height: 300px;"></div>
  </div>
</div>  
  