
<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a ng-click="irCurso()"> {{curso.nombre}}</a></li>
      <li class="breadcrumb-item"><a ng-click="irActividad()"> {{actividad.nombre}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Estadisticas</li>
    </ol>
  </nav>
  <label style="font-size: 120%"><b>Estadísticas de Evaluación</b></label>
<div class="row">
  
  <div class="form-group col-md-4 col sm-12">
    <table class="table table-bordered">
      <tr>
        <th>Media:</th>
        <td>12.5%</td>
      </tr>
      <tr>
        <th>Desviación:</th>
        <td>1.85%</td>
      </tr>
      <tr>
        <th>% de aprobados:</th>
        <td>60%</td>
      </tr>
      <tr>
        <th>Máx. nota:</th>
        <td>19</td>
      </tr>
      <tr>
        <th>Mín. nota:</th>
        <td>4</td>
      </tr>
      <tr>
        <th>Inasistencias:</th>
        <td>1</td>
      </tr>
    </table>
  </div>

  <div class="col-md-8 col-sm-12" id="piechart" style="width: 900px; height: 500px; color: whitesmoke "></div>
</div>
</div>
