<div>
    <!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a ng-click="irCurso()"> {{curso.nombre}}</a></li>
            <li class="breadcrumb-item"><a ng-click="irActividad()"> {{actividad.nombre}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Estadisticas</li>
        </ol>
    </nav> -->
    <h1>Grupos</h1>

    <div class="btn-group" role="group">
        <button ng-click="btnCrearGrupos()" type="button" class="btn btn-success">Crear Grupos</button>
    </div>

    <div class="row" ng-show="creacionGrupos">
        <div class="col-md-5">
            <div class="table-responsive">
                <table class="table table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="al in lstAluSinGrupos" style="cursor: pointer" ng-click="agregarAlu($index,al)">
                            <td>{{al.codigoPUCP}}</td>
                            <td>{{al.nombre}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2" style="text-align: center">
            <h1><i class="fas fa-arrow-right"></i></h1>
        </div>
        <div class="col-md-5">
            <div class="table-responsive">
                <table class="table table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="al in lstNuevoGrupo">
                            <td>{{al.codigoPUCP}}</td>
                            <td>{{al.nombre}}</td>
                            <td>
                                <button class="btn btn-danger" ng-click="elimAlu($index,al)">
                                    <i class="fas fa-times"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="text-align: center">
                <div class="alert alert-danger" role="alert" ng-show="showAlert1">
                    Debe ingresar un nombre del grupo
                </div>
                <div class="alert alert-danger" role="alert" ng-show="showAlert2">
                    Grupo vacío
                </div>
                <div class="form-group" style="display: inline-block">
                    <input ng-model="Reg.nomGrupo" class="form-control" placeholder="Nombre del grupo">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="btnGuardarGrupo()">Guardar grupo</button>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th style="width: 80%">Grupo</th>
                            <th style="width: 20%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="grupo in lstGrupos">
                            <td>{{grupo.nombre}}</td>
                            <td>
                                <button class="btn btn-sm btn-primary" ng-click="verGrupo(grupo)">
                                    <i class="fas fa-list-ul"></i>
                                </button>
                                <button class="btn btn-sm btn-danger" ng-click="elimGrupo($index, grupo)">
                                    <i class="fas fa-times"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>