<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#!curso">Curso</a></li>
      <li class="breadcrumb-item"><a href="#!actividad">{{actividad.nombre}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Rúbrica</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-5 col-lg-3">
      <h3 style="font-weight: bold">Hojas de evaluación</h3>
    </div>
    <div class="col-md-2">
      <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        class="btn btn-sm btn-success dropdown-toggle"><i class="fas fa-plus"></i>&nbsp;Nueva
        evaluación</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" style="cursor: pointer" ng-click="btnCrearEval(4)">Evaluación</a>
        <a class="dropdown-item" style="cursor: pointer" ng-click="btnCrearEval(2)">Autoevaluación</a>
        <a ng-if="actividad.tipo == 'G'" class="dropdown-item" style="cursor: pointer" ng-click="btnCrearEval(3)">Coevaluación</a>
      </div>
    </div>
    <div class="col-md-2">
      <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        class="btn btn-sm btn-info dropdown-toggle"><i class="fas fa-eye"></i>&nbsp;Ver hojas actuales</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" style="cursor: pointer" ng-click="btnObtenerEval(4)">Evaluación</a>
        <a class="dropdown-item" style="cursor: pointer" ng-click="btnObtenerEval(2)">Autoevaluación</a>
        <a ng-if="actividad.tipo == 'G'" class="dropdown-item" style="cursor: pointer" ng-click="btnObtenerEval(3)">Coevaluación</a>
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-sm btn-primary"><i class="fas fa-file-alt"></i>&nbsp;Usar hoja del curso</button>
    </div>
  </div>
  <div class="line"></div>
  <div class="row" ng-show="mostrarEv">
    <div class="col-md-12">
      <h3>{{titleEval}}</h3>
    </div>
    <div class="col-md-12">
      <form id="formEva" name="formEva" class="needs-validation" novalidate>
        <div class="form-row">
          <div class="form-group col-md-3">
            <input ng-disabled="bloqEval" required type="text" maxlength="20" class="form-control" placeholder="Nombre de la evaluación"
              ng-model="rubrica.nombreRubrica">
            <div class="invalid-feedback">
              Este campo es requerido.
            </div>
          </div>
          <div class="col-md-1" ng-show="mostrarBtns">
            <button type="submit" class="btn btn-sm btn-primary"  ng-click="btnGuardarRubrica()"><i
                class="fas fa-save"></i>&nbsp;Guardar</button>
          </div>
          <div class="col-md-1" ng-show="mostrarBtns">
            <button class="btn btn-sm btn-danger" ng-click="btnCancelar()"><i
                class="fas fa-times"></i>&nbsp;Cancelar</button>
          </div>
          <div class="col-md-1" ng-show="mostrarBtnEditar">
              <button class="btn btn-sm btn-secondary"  ng-click="btnEdicion()"><i
                  class="fas fa-pen"></i>&nbsp;Editar</button>
            </div>
        </div>
        <div class="row" ng-show="mostrarBtns">
          <div class="col-md-12 form-group">
            <button type="button" class="btn btn-success" ng-click="btnAgregarAspecto()"><i
                class="fas fa-plus"></i>&nbsp;Agregar aspecto</button>
          </div>
        </div>
        <div class="row">
          <div ng-repeat="aspecto in rubrica.listaAspectos" class="col-md-12 border border-solid rounded"
            style=" background-color: #e9ecef; margin-bottom: 10px; margin-left: 10px; padding-top: 10px">
            <div ng-if="aspecto.tipoClasificacion == 1">
              <div class="form-row">
                <div class="form-group col-md-3 col-lg-2">
                  <label class="negrita">Nombre del Aspecto</label>
                  <input ng-disabled="bloqEval" type="text" required maxlength="25" class="form-control" ng-model="aspecto.descripcion" />
                  <div class="invalid-feedback">
                    Ingrese un nombre.
                  </div>
                </div>
                <div class="form-group col-md-5 col-lg-4">
                  <label class="negrita">Descripción</label>
                  <input ng-disabled="bloqEval" maxlength="50" class="form-control" ng-model="aspecto.informacion" />
                </div>
                <div class="form-group col-md-1">
                  <label class="negrita">Puntaje</label>
                  <input ng-disabled="bloqEval" ng-model="aspecto.puntajeMax" required type="text" class="form-control" style="width: 70px"
                    maxlength="2" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45" />
                  <div class="invalid-feedback">
                    Ingrese un puntaje.
                  </div>
                </div>
                <div ng-show="mostrarBtns" class="col-md-1 form-group btn-group d-flex align-items-end" role="group">
                  <button type="button" class="btn btn-primary" title="Agregar Indicador"
                    ng-click="btnAgregarIndicador(aspecto)"><i class="fa fa-plus"></i></button>
                  <button type="button" data-toggle="button" aria-pressed="false" autocomplete="off"
                    class="btn btn-info" title="Indicadores" ng-click="btnOcultarIndicadores(aspecto)"><i
                      class="fas fa-chevron-down"></i></button>
                  <button type="button" class="btn btn-danger" title="Eliminar Aspecto"
                    ng-click="btnQuitarAspecto(aspecto)"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div ng-repeat="indicador in aspecto.listaIndicadores" ng-show="aspecto.mostrar" style="padding-left: 2%">
                <div class="form-row">
                  <div class="form-group col-md-3 col-lg-2">
                    <label class="negrita">Nombre del indicador</label>
                    <input ng-disabled="bloqEval" required maxlength="25" class="form-control" ng-model="indicador.descripcion" />
                    <div class="invalid-feedback">
                      Ingrese un nombre.
                    </div>
                  </div>
                  <div class="form-group col-md-5 col-lg-4">
                    <label class="negrita">Descripción</label>
                    <input ng-disabled="bloqEval" maxlength="50" class="form-control" ng-model="indicador.informacion" />
                  </div>
                  <!-- <div class="form-group col-md-1">
                      <label>Puntaje</label>
                      <input required type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="2"
                        class="form-control" style="width: 70px" ng-model="indicador.puntajeMax" />
                      <div class="invalid-feedback">
                        Ingrese un puntaje.
                      </div>
                    </div> -->
                  <div ng-show="mostrarBtns" class="col-md-1 form-group btn-group d-flex align-items-end" role="group">
                    <button type="button" class="btn btn-primary" title="Agregar nivel"
                      ng-click="btnAgregarNivel(indicador)"><i class="fa fa-plus"></i></button>
                    <button data-toggle="button" aria-pressed="false" autocomplete="off" type="button"
                      class="btn btn-info" title="Niveles" ng-click="btnOcultarNiveles(indicador)"><i
                        class="fas fa-chevron-down"></i></button>
                    <button type="button" class="btn btn-danger" title="Eliminar"
                      ng-click="btnQuitarIndicador(aspecto, indicador)"><i class="fas fa-times"></i></button>
                  </div>
                </div>
                <div ng-show="indicador.mostrar" ng-repeat="nivel in indicador.listaNiveles" style="padding-left: 4%">
                  <div class="form-row">
                    <div class="form-group col-md-1">
                      <label class="negrita">{{'Nivel ' + ($index + 1)}}</label>
                      <div class="invalid-feedback">
                        Ingrese un nombre.
                      </div>
                    </div>
                    <div class="form-group col-md-4 col-lg-4">
                      <label class="negrita">Descripción</label>
                      <textarea ng-disabled="bloqEval" ng-model="nivel.descripcion" maxlength="200" class="form-control"></textarea>
                    </div>
                    <div class="form-group col-md-1">
                      <label class="negrita">Puntaje</label>
                      <input ng-disabled="bloqEval" required type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45"
                        maxlength="2" class="form-control" style="width: 70px" ng-model="nivel.puntaje" />
                      <div class="invalid-feedback">
                        Ingrese un puntaje.
                      </div>
                    </div>
                    <div class="form-group col-md-1 d-flex align-items-end">
                      <button ng-show="mostrarBtns" type="button" class="btn btn-danger" title="Eliminar"
                        ng-click="btnEliminarNivel($index, indicador)"><i class="fas fa-times"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div ng-if="aspecto.tipoClasificacion == 2">
              <div class="form-row">
                <div class="form-group col-md-3 col-lg-2">
                  <label class="negrita">Nombre del Aspecto</label>
                  <input ng-disabled="bloqEval" required maxlength="25" class="form-control" ng-model="aspecto.descripcion" />
                  <div class="invalid-feedback">
                    Ingrese un nombre.
                  </div>
                </div>
                <div class="form-group col-md-5 col-lg-4">
                  <label class="negrita">Descripción</label>
                  <input ng-disabled="bloqEval" maxlength="50" class="form-control" ng-model="aspecto.informacion" />
                </div>
                <div class="form-group col-md-1">
                  <label class="negrita">Puntaje</label>
                  <input ng-disabled="bloqEval" required type="text" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45"
                    maxlength="2" style="width: 70px" class="form-control" ng-model="aspecto.puntajeMax" />
                  <div class="invalid-feedback">
                    Ingrese un puntaje.
                  </div>
                </div>
                <div ng-show="mostrarBtns" class="form-group col-md-1 d-flex align-items-end">
                  <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top"
                    title="Eliminar Aspecto" ng-click="btnQuitarAspecto(aspecto)"><i
                      class="fas fa-times"></i></button>
                </div>
              </div>
            </div>
            <div ng-if="aspecto.tipoClasificacion == 3">
              <div class="form-row">
                <div class="form-group col-md-3 col-lg-2">
                  <label class="negrita">Nombre del Aspecto</label>
                  <input ng-disabled="bloqEval" type="text" required maxlength="25" class="form-control" ng-model="aspecto.descripcion" />
                  <div class="invalid-feedback">
                    Ingrese un nombre
                  </div>
                </div>
                <div class="form-group col-md-5 col-lg-4">
                  <label class="negrita">Descripción</label>
                  <input ng-disabled="bloqEval" type="text" maxlength="50" class="form-control" ng-model="aspecto.informacion" />
                </div>
                <div ng-show="mostrarBtns" class="form-group col-md-1 d-flex align-items-end">
                  <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top"
                    title="Eliminar Aspecto" ng-click="btnQuitarAspecto(aspecto)"><i
                      class="fas fa-times"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="mdElegirTipoAspecto" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Elegir el tipo de aspecto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer d-flex justify-content-center align-self-center">
        <button class="btn btn-primary" ng-click="btnAspectoConIndicadores()" data-dismiss="modal">Aspecto con niveles
          de desempeño</button>
        <button class="btn btn-primary" ng-click="btnAspectoConPuntaje()" data-dismiss="modal">Aspecto con
          puntaje</button>
        <button class="btn btn-primary" ng-click="btnAspectoSinPuntaje()" data-dismiss="modal">Aspecto
          checklist</button>
      </div>
    </div>
  </div>
</div>