


<div class="row">
    <div class="col-6">
        <h3 >Rúbrica de la evaluación: </h3>
    </div>
    

    <div class="col-xs-4 col-lg-2 col-2">
        <button ng-click="btnCrearRubrica()" class="btn btn-sm btn-primary">Crear una nueva rúbrica</button>
    </div>

    <div class=" col-xs-4 col-lg-2 col-2">
        <button class="btn btn-sm btn-success">Ver Rúbrica Actual</button>
    </div>

    <div class="col-xs-4 col-lg-2 col-2 dropdown">
            <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Usar rúbrica pasada
            </button>   
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" >Rúbrica 1</a>
              <a class="dropdown-item" >Rúbrica 2</a>
            </div>
          </div>
</div>
<br>
<br>

<div ng-show="mostrarCrearRubrica">
  <div class="form-group row">
    <label class="col-sm-5 col-lg-2 col-form-label">Nombre de la rúbrica: </label>
    <div class="col-sm-7 col-lg-4">
      <input type="text" class="form-control" id="inputPassword" placeholder="Ingrese el nombre de la rúbrica">
    </div>

    <div class="input-group mb-3 col-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="checkbox" aria-label="Checkbox for following text input">Rúbrica Especial
        </div>
      </div>
    </div>
  </div>

  <!-- Aca tengo que colocar el lstAspectos[i] -->
  <!-- Tengo que colocar todos los datos en una sola columna -->

  <div class="form-group row" style="padding-left: 1%;">

    <div class="row" ng-repeat="aspecto in lstAspectos">
      Nombre Aspecto: <button type="button" class="btn rounded-circle btn-outline-primary" ng-click="btnAgregarAspecto()"><i class="fa fa-plus"></i></a></button>
      <input style="border-width:2px !important; padding-right: 30px;" class="border border-primary form-control" ng-model="aspecto.nomAspecto"/>
      Descripción:<input style="border-width:2px !important;" class="border border-primary form-control" ng-model="aspecto.descripcion" />
      Puntaje Máximo:<input style="border-width:2px !important;" class="border border-primary form-control" ng-model="aspecto.puntajeMax" />

      <div class="row" style="margin-left: 10%;" ng-repeat="indicador in aspecto.lstIndicadores">   
        Nombre Indicador: <button type="button" class="btn rounded-circle btn-outline-success" ng-click="btnAgregarIndicador(aspecto)"><i class="fa fa-plus"></i></a></button>
        <input style="border-width:2px !important;" class="border border-success form-control" ng-model="indicador.nomIndicador" />
        Descripción:<input style="border-width:2px !important;" class="border border-success form-control" ng-model="indicador.descripcion" />
        Puntaje Máximo:<input style="border-width:2px !important;" class="border border-success form-control" ng-model="indicador.puntajeMax" />    
      </div>
      <br><br><br> 
    </div>
  </div>  
</div>

<br><br>


</div>
