<div class="row justify-content-center col-12" style="background-color: whitesmoke; ">
  <form>
    
    <div class="form-group" style="padding-top: 15px;padding-bottom: 15px;">

    <div class="row">

    <div class="form-group col-4" style="margin-bottom: 15px; text-align: center">
      <img src="src/img/logo-fullSEC.png" alt="SEC2Logo" style="width: 85%; height: auto; text-shadow: black">
    </div>
    <div class="form-group col-8" style="align-content: center; padding-top: 55px">
      <br>
      <span style="color: rgb(17, 1, 88);text-shadow:0 0 2px black ; font-size: 35px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"><b>SEC <sup>2</sup></b> </span>
      <br>
      <span style="text-shadow:0 0 1px rgb(160, 160, 160)"><b>SISTEMA DE EVALUACION CONTINUA</b> </span>

    </div>
    </div>
    <div class="alert alert-danger" role="alert" ng-show="showAlert1">
      Debe ingresar usuario y contraseña
    </div>
    <div class="alert alert-danger" role="alert" ng-show="showAlert2">
      Usuario o contraseña incorrectos
    </div>
    <div class="form-group">
      <label>Correo Electrónico</label>
      <input type="email" class="form-control" ng-model="email">
      <small id="emailHelp" class="form-text text-muted">Debe ingresar con su correo PUCP</small>
    </div>
    <div class="form-group">
      <label>Contraseña</label>
      <input type="password" class="form-control" ng-model="pass">
    </div>
    <div style="text-align: center">
      <button id="btnLogin" type="submit" class="btn btn-primary" ng-click="btnLogin()">Ingresar</button>
      <button class="btn btn-default" ng-click="btnForgotPassword()">Olvidé mi contraseña</button>
    </div>
  </div>
  </form>

  
</div>


<!-- Modal Administrar Usuarios -->
<div class="modal fade" id="mdAdministrarUsuarios" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Administrar Usuarios </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!--
        Criterios de Búsqueda
      -->

      <div class="modal-body">
          
          
          <form>
                <!-- Pedir Primer y Segundo Apellido-->
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputApellido1">Primer Apellido</label>
                    <input type="text" class="form-control" id="inputApellido1" placeholder="">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputApellido2">Segundo Apellido</label>
                    <input type="text" class="form-control" id="inputApellido2" placeholder="">
                  </div>
                </div>
                <!--Pedir Nombres-->
                <div class="form-group">
                  <label for="inputNombres">Nombres</label>
                  <input type="text" class="form-control" id="inputNombres" placeholder="">
                </div>
                <!--Pedir Código PUCP, Email-PUCP-->
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCodigo">Código</label>
                    <input type="text" class="form-control" id="inputCodigo" placeholder="">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail">Email PUCP</label>
                    <input type="eamil" class="form-control" id="inputEmail" placeholder="">
                  </div>
                </div>
                <!--Ver si es usuario Activo o Inactivo-->
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Activo</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option2">
                          <label class="form-check-label" for="inlineCheckbox1">Inactivo</label>
                        </div>
                </div>
                <!-- Boton Buscar-->
                <button type="submit" class="btn btn-primary">Buscar</button>
            
          </form>
         
        
      </div>
      

      <!--
        Botones Buscar y salir
      -->
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary" data-dismiss="modal">Terminar</button>
      </div>
    </div>
  </div>
</div>






