<!DOCTYPE html>
<html ng-app="appFS" lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="src/css/layout.css">  
  <link rel="stylesheet" href="src/css/grafico.css">  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-cookies.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-touch.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-messages.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

  <title>SEC2 - Sistema de Evaluación Continua</title>
</head>

<body ng-controller="IndexController" layout="column" ng-cloak>

  <div ng-cloak class="container-fluid">

    <div class="row">

      <div class="topbar container-fluid" ng-show="showLayout">
        <div class="row" style="height:100%">
          <div class="col-md-10">
            <button type="button" id="sidebarCollapse" class="btn btn-light vertical-center"><i
                class="fas fa-bars"></i></button>
            <img src="src/img/logoSEC.jpg" class="vertical-center" alt="SEC2" width="3%">
            <label class="vertical-center" style="font-size: 1.5rem"><b>Sistema de Evaluación Continua</b></label>
          </div>
          <div class="col-md-2" style="text-align: right">
            <label data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              class="vertical-center dropdown-toggle" style="font-size: 130%; cursor: pointer">{{usuario.nombre}}&nbsp<i
                class="fas fa-user-circle" style="font-size: 150%"></i></label>
            <div class="dropdown-menu">
              <a class="dropdown-item" style="cursor: pointer"><i class="fas fa-id-card"></i>&nbspMi Perfil</a>
              <a class="dropdown-item" style="cursor: pointer" ng-click="btnLogout()"><i
                  class="fas fa-sign-out-alt"></i>&nbspCerrar Sesión</a>
            </div>
          </div>
        </div>
      </div>

      <div id="content" ng-view></div>

      <nav id="sidebar" ng-show="showLayout">
        <ul class="list-unstyled components">
          <li class="active">
            <a data-target="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                class="fas fa-book"></i>&nbspCursos</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
              <li ng-click="mostrarCurso(curso)" ng-repeat="curso in cursos"><a>{{curso.nombre}}</a></li>
            </ul>
          </li>
          <li>
            <a><i class="fas fa-history"></i>&nbspInformación Histórica</a>
          </li>
        </ul>

        <ul class="list-unstyled CTAs">
          <li>
            <a rel="noopener noreferrer" target="_blank" href="https://www.pucp.edu.pe/">PUCP</a>
          </li>
        </ul>
      </nav>
    </div>

  </div>

  <div class="overlay"></div>

  <script>
    document.write("<script type='text/javascript' src='app/app.js?v=" + Date.now() + "'><\/script>");
    document.write("<script type='text/javascript' src='app/modules/index/IndexController.js?v=" + Date.now() + "'><\/script>");
    document.write("<script type='text/javascript' src='app/modules/login/LoginController.js?v=" + Date.now() + "'><\/script>");
    document.write("<script type='text/javascript' src='app/modules/main/MainController.js?v=" + Date.now() + "'><\/script>");
    document.write("<script type='text/javascript' src='app/modules/curso/CursoController.js?v=" + Date.now() + "'><\/script>");
    document.write("<script type='text/javascript' src='app/services/serviceCRUD.js?v=" + Date.now() + "'><\/script>");
    document.write("<script type='text/javascript' src='app/services/serviceUtil.js?v=" + Date.now() + "'><\/script>");
    document.write("<script type='text/javascript' src='app/modules/curso/AutoEvalController.js?v=" + Date.now() + "'><\/script>");
    document.write("<script type='text/javascript' src='app/modules/curso/ActividadController.js?v=" + Date.now() + "'><\/script>");
    document.write("<script type='text/javascript' src='app/modules/curso/RubricaController.js?v=" + Date.now() + "'><\/script>");
    document.write("<script type='text/javascript' src='app/modules/curso/CalificacionesController.js?v=" + Date.now() + "'><\/script>");
    document.write("<script type='text/javascript' src='app/modules/curso/EstadisticasController.js?v=" + Date.now() + "'><\/script>");  
  </script>
  
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip({
        trigger: 'hover'
      })

      $("#sidebar").mCustomScrollbar({
        theme: "minimal"
      });

      $('#sidebarCollapse').on('click', function () {
        if ($('#sidebar').hasClass('active')) {
          $('#sidebar').removeClass('active');
          $('.overlay').removeClass('active');
        } else {
          $('#sidebar').addClass('active');
          $('.overlay').addClass('active');
          $('.collapse.in').toggleClass('in');
          $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        }
      });
    });
  </script>
</body>

</html>